#barra-nav{
  position: absolute;
  top: 0;
  left: 0;
  height: 115px;
}
nav{
  height: 115px;
  font-size: large;
  background: #003d8d;
}
a.brand-logo{
  font-weight: bold;
}
#div_header{
  padding-top: 25px;
}
#nav_btn{
  border-radius: 10px;
}
#nav_btn:hover{
  background: rgba(26, 81, 175, 0.76);
}
#nav_btn_sesion{
  background: #f12d2d;
  color: #ffffff;
  border-color: #f12d2d;
  font-weight: bold;
  border-radius: 10px;
}
#nav_btn_sesion:hover{
  background: #ffffff;
  color: #f12d2d;
  border-color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
}
#sesion_dropdown{
  background: #f12d2d;
  color: #ffffff;
  font-weight: bold;
}
#sesion_dropdown:hover{
  background: #ffffff;
  color: #f12d2d;
}
#cat_dropdown{
  border-radius: 10px;
}
#categoria{
  background: #f12d2d;
  color: #ffffff;
  font-weight: bold;
}
#categoria:hover{
  background: #ffffff;
  color: #f12d2d;
}
#nav_dropdown{
  border-radius: 10px;
}
#nav_categorias{
  background: #f12d2d;
  color: #ffffff;
  border-radius: 10px;
}
#nav_categorias:hover{
  background: #ffffff;
  color: #f12d2d;
}
#nav_login{
  background: #f12d2d;
  color: #ffffff;
  border-radius: 10px;
}
#nav_login:hover{
  background: #ffffff;
  color: #f12d2d;
}
#nav_logout{
  background: #f12d2d;
  color: #ffffff;
  border-radius: 10px;
}
#nav_logout:hover{
  background: #ffffff;
  color: #f12d2d;
}
ul.sidenav li a{
  font-size: 20px;
}
#snav_login{
  widht: 450px;
  background: #f12d2d;
  color: #ffffff;
  border-radius: 10px;
}
#snav_login:hover{
  background: #003d8d;
  color: #ffffff;
}
#snav_logout{
  font-size: small;
  font-weight: bold;
  widht: 450px;
  background: #f12d2d;
  color: #ffffff;
  border-radius: 10px;
}
#snav_logout:hover{
  background: #ffffff;
  color: #f12d2d;
}
#snav_dropdown{
  background: #f12d2d;
  color: #ffffff
  border-radius: 10px;
}
#snav_dropdown:hover{
  background: #ffffff;
  color: #f12d2d
}
footer.page-footer{
  background: #003d8d;
}
footer.page-footer div.footer-copyright{
  background: #f12d2d;
}
#findoctor{
  border-radius: 10px;
  background: #ffffff;
  color: #000;
}
#login_options{
  background: #ffffff;
}
#sign_up div.card-action a{
  color: #000;
}
#sign_up div.card-action a.btn.green{
  color: #ffffff;
}
#google{
  background: #de4f42;
  color: #ffffff;
  font-weight: bold;
}
#facebook{
  background: #3f51b5;
  color: #ffffff;
  font-weight: bold;
}
#search_bar{
  background: inherit;
  border-radius: 10px;
}
#label_search{
  color: white;
}
#search_div_inicio{
  border-radius: 10px;
  background: rgba(31, 71, 139, 0.5);
}
#search_div_comida{
  border-radius: 10px;
  background: rgba(255, 109, 0, 0.5);
}
#search_div_salud{
  border-radius: 10px;
  background: rgba(76, 175, 80, 0.5);
}
